.wrapDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 32px;
}

.listDetail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoMessage {
  margin-bottom: 20px;
}
