.favorite {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.inactive {
  flex-grow: 0;
  width: 100%;
  height: 100%;
  fill: var(--button-hover);
 
}

.active {
  flex-grow: 0;
  width: 100%;
  height: 100%;
  color: var(--button);
  fill: var(--button);
}

.favorite:hover .active {
  fill: var(--button-hover);
}

.favorite:hover .inactive {
  fill: var(--button-hover);
}
