.heroBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 783px;
  max-height: 204px;
  padding-right: 1px;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    text-wrap: nowrap;
   
  }
}

.txtWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.heroTxt {
  color: var(--background);
  text-align: center;
  padding-bottom: 8px;

  @media (min-width: 768px) {
    font-size: var(--fs-h2);
    line-height: var(--fs-h2);
  }
}

.btnCatalog {
  padding: 12px 88px;
}
