.container {
  margin: 0 auto;
  padding: 0 8px;
  max-width: 320px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media (min-width: 1080px) {
    max-width: 1080px;
    padding: 0 50px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 120px;
  }
}
