.sectionCatalog {
  padding: 34px 0 44px;

  @media (min-width: 768px) {
    padding: 84px 0 124px;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
