.filterPanel {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.brand {
  width: 204px;
}

.price {
  width: 196px;
}

.mileage {
  max-width: 300px;
  height: 68px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .mileage {
    width: 320px;
    text-align: left;
  }
}

.inputBlock {
  display: flex;
  height: 44px;
  border-radius: var(--radius);
  background-color: var(--inputs);
}

.inputWrapper {
  display: flex;
  height: 44px;
  max-width: 160px;
  padding-block: 12px;
  padding-left: 24px;
  align-items: baseline;
}

.inputWrapper:first-child {
  border-right: 1px solid var(--border-inputs);
}

.btnSearch {
  align-self: end;
}

.btnSearch:disabled {
  background-color: grey;
}

.btnWrapper {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-top: 24px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.error {
  color: red;
  font-size: var(--fs-second);
  text-align: center;
}
