:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --fs-base: 1rem;
  --fs-second: 0.75rem;
  --lh-base: 1.25;
  --lh-second: 1.33;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-h1: 3.75rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --lh-h1: 1.2;
  --lh-h2: calc(32 / 24);
  --lh-h3: 1.2;

  --font-main: #101828;
  --font-second: #8d929a;
  --border-inputs: #dadde1;
  --header-color: #f2f4f7;
  --inputs: #f7f7f7;
  --background: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;

  --radius: 0.75rem;

  color-scheme: light dark;
  color: var(--font-main);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  line-height: var(--lh-base);
  color: var(--font-main);
  font-family: var(--font-family);
}

a {
  font-weight: inherit;
  text-decoration: inherit;
  color: inherit;

  &:active {
    color: var(--button);
  }

  &:hover {
    color: var(--button-hover);
  }
}

body {
  margin: 0 auto;
  display: flex;
  /* place-items: center; */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  outline: none;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h1);
  color: var(--background);
  font-weight: var(--fw-bold);

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1440px) {
    font-size: var(--fs-h1);
  }
}

h2 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  line-height: var(--lh-h2);

  @media (min-width: 768px) {
    font-size: var(--fs-h2);
  }
}

h3 {
  font-size: 1.15rem;
  font-weight: var(--fw-semibold);
  line-height: var(--lh-h3);

  @media (min-width: 768px) {
    font-size: var(--fs-h3);
  }
}

.txtSecond {
  color: var(--font-second);
  font-size: var(--fs-second);
  font-weight: var(--fw-regular);
  line-height: var(--lh-second);
}
.button {
  width: 156px;
  height: 44px;
  border-radius: var(--radius);
  font-size: 1em;
  font-weight: 500;
  padding: 12px 51px;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.btnWhite {
  border: 1px solid var(--button);
  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-color: var(--button-hover);
  }
}

.btnFill {
  background-color: var(--button);
  color: var(--background);

  &:hover {
    background-color: var(--button-hover);
  }
}

.btnFillLarge {
  width: 276px;
  height: 44px;
  padding: 12px 99px;
  background-color: var(--button);
  color: var(--background);

  &:hover {
    background-color: var(--button-hover);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
