.selectFilter {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  height: 68px;
  font-weight: var(--fw-regular);
}

.select {
  width: 100%;
  background: var(--inputs);
}
