.sectionCard {
  text-align: left;
  padding: 34px 0 54px;

  @media (min-width: 768px) {
    padding: 54px 0 84px;
  }

  @media (min-width: 1440px) {
    padding: 84px 0 104px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 48px;
  }

  @media (min-width: 1440px) {
    gap: 72px;
  }

}

.wrapLeft {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  gap: 40px;
}

.form {
  max-width: 640px;
  height: 488px;
  gap: 24px;
  border-radius: 10px;
  border-width: 1px;
  padding: 32px;
}

.wrapRight {
  max-width: 488px;
  padding-top: 20px;
}

.sectionBase {
  margin-bottom: 68px;
}

.sectionParams {
  display: flex;
  flex-direction: column;
  gap: 110px;
}

.conditionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noResult {
  color: red;
  font-size: var(--fs-h3);
  margin-top: 20px;
  text-align: center;
}

.loader {
  margin-top: 288px;
}

.btnConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  padding: 0;
}

.confirmDialog {
  background: var(--inputs);
  border: 1px solid grey;
  padding: 20px;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.dialogButtons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}